<?xml version="1.0"?>
<configuration>
    <modules>
        <module id="globalization_timuxadmin" class="TGlobalization">
            <translation type="XLIFF" source="horux.messages" catalogue="timuxadmin" marker="" cache="false" />
        </module>
    </modules>
    <parameters>
        <parameter id="barcodetype" value="C39" Name="Code bar type" RightText="" />
        <parameter id="barcodeprintcolumn" value="1" Name="Code bar print column" RightText="" />
        <parameter id="orderprintcolumn" value="abbreviation" Name="Order print column" RightText="" />
    </parameters>
</configuration>