.groupAccessRight {
	color: #666;
	background-color: #f6f6f6;
	font-weight:bold;
	width:400px;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}

.readerAccessRight {
	z-index:10;
	position: absolute;
	float:left;
	width:200px;
	padding-left:30px;
}

.accessLevel {
	position: absolute;
	padding-left:200px;
}

.folder {
 float:left;
}

.menu_disabled
{
    height:25px;
    font-size:11px;
    color: #a0a0a0;
}

.menu_disabled_item {
    float:left;
    padding-left:15px;
    padding-right:15px;
    padding-top:6px;
    font-weight:bold;
    border-right: 1px solid #d5d5d5;
}
